
<div class="card">
  <div class="card-body">
    <div class="row">
      <h1>Rentals</h1>
      <div class="col-4">
        <!-- <%=image_tag("longboard.jpg")%> -->
        <% @items.each do |item| %>
        <!-- html goes in here for item -->
        <%= item.name.capitalize %>
        <% end %>
      </div>
    </div>
  </div>
</div>
