
    <h1>BaseCamp Subscription Plans</h1>
    <h3>Basic $9.99 per month</h3>
    <p>
      The BaseCamp Basic includes:
      <li>Two rentals per month</li>
      <li>Two day rental period per rental</li>
      <li>Unlimated day use sporting goods</li>
    </p>
    <p>
----------------------------------------
    </p>
    <h3>Premium $19.99 per month</h3>
    <p>
      The BaseCamp Premium includes:
      <li>Four rentals per month</li>
      <li>Three day rental period per rental</li>
      <li>Unlimated day use sporting goods</li>
    </p>
