<!-- <div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">

            </div>
        </div>
    </div>
</div> -->



<div class="row">
  <div class="col home">
    <h1 class="hometitle">EquipRent</h>
  </div>
</div>
<div class="row">
    <div class="col dashboard">
        This is your dashboard!
    </div>
</div>

<div class="row">
    <div class="col blurb">
        <p>With EquipRent you can share your equipemt with your community!

          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
           Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
           Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <div class="card-body">
          <%= link_to "Sign Up Now", signup_path, class: "btn btn-info btn-lg" %>

        </div>
    </div>
</div>

<div class="row">
    <div class="col color">
<!-- Perhaps a screen shot and info of your dashboard and rentals here -->
    </div>
</div>







<!-- This is a test "user dashboard example -->
<!-- <div class="card">
  <div class="card-header">
    Wheels
  </div>
  <div class="card-body">
    <h5 class="card-title">Blue Longboard - Rented<br />
      <%=image_tag("longboard.jpg")%>
    </h5>
    <p class="card-text">This item is due back by 1/29/19</p>
    <a href="#" class="btn btn-primary">Item Details</a>
  </div>
</div> -->

<!--  End test -->
