

<!-- This is a test "user dashboard example -->
<div class="card">
  <div class="card-header">
    Wheels
  </div>
  <div class="card-body">
    <h5 class="card-title"> Blue Longboard - Rented</h5>
    <br />
      <%=image_tag("longboard.jpg")%>
      <% @items.each do |item| %>
      <%=item.name%>
      <%end%>
    <p class="card-text">This item is due back by 1/29/19</p>
    <a href="#" class="btn btn-primary">Item Details</a>
  </div>
</div> -->

<!--  End test -->
