

<!-- Previous display items code from our rentals page -->
<!-- <div class="card">
  <div class="card-body">
    <div class="row">
      <h1>My Items</h1>
      <div class="col-4">
        <%=image_tag("longboard.jpg")%>
        <% @items.each do |item| %>
        html goes in here for item
        <%= item.name.capitalize %>
        <% end %>
      </div>
    </div>
  </div>
</div> -->

<!-- This is a test "user dashboard example -->
<!-- <div class="card">
  <div class="card-header">
    Wheels
  </div>
  <div class="card-body">
    <h5 class="card-title">Blue Longboard - Rented<br />
      <%=image_tag("longboard.jpg")%>
    </h5>
    <p class="card-text">This item is due back by 1/29/19</p>
    <a href="#" class="btn btn-primary">Item Details</a>
  </div>
</div> -->

<!--  End test -->
