// Place all the styles related to the equipment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//Practice rentals design\\

.searchdiv {
display: block;
text-align: center;
padding-top: 15px;
}

.searchform {
display: inline-block;
margin-left: auto;
margin-right: auto;
text-align: left;
padding-bottom: 20px;
}

.row_rentals{
  padding: 10px;
}

.col_rentals{
  padding: 10px;
  text-align: center;

}
