//bg image and styling and font
body {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  background-position: cover;
  background-size: 100%;
  font-weight: 300;
}
h1 {
  color: black;
  font-size: 300%;
  text-align: center;
}
p{
  text-align: center;
}
/*NAV CSS*/

.log_in_nav{
  list-style: none;
  text-align: center;
  background-color: #F7F7F7;
  margin-bottom: 0;
}
.log_in_nav li{
  display: inline;

}
/*css for the nav a tags*/
.log_in_nav a{
  display: inline-block;
  padding: none;
  color: black;
  text-decoration: none;
  font-weight: none;
}

/*what color the nav buttons change when hovering*/
.log_in_nav a:hover{
  color: purple;
  text-decoration: none;
  font-weight: none;
}
.log_in_nav li a:hover {
    border-bottom: 3px solid;
}

/*END NAV CSS*/

.logged_in /* this is for the logged in as @current_user*/ {
  font-size: 12px;
  text-align: right;
}

//Practice home page design\\
.hometitle{
  font-family: 'Londrina Outline', cursive;
  font-size: 100px;
}
.home {
  border-bottom: solid black 1px;
  padding-top: 5px;
  background-color: #F7F7F7;
}

.blurb{
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: solid black 1px;
}
.color {
  background-color: #D5FCFE;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: solid black 1px;
}
