// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//bg image and styling
body {
  background-image: image-url('green.jpg');
  background-position: cover;
  background-size: 100%;
  
}
//end bg image and styling
