// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




//Practice home page design\\
.hometitle{
  font-family: 'Londrina Outline', cursive;
  font-size: 100px;
}
.home {
  border-bottom: solid black 1px;
  padding-bottom: 30px;
  padding-top: 50px;
  background-color: #F7F7F7;
}
.blurb{
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: solid black 1px;
}
.color {
  background-color: #D5FCFE;
  padding-top: 300px;
  border-bottom: solid black 1px;
  margin-bottom: 10px;
}
