<div class="row">
  <div class="col log_in_nav">
    <ul class="nav" >
      <li class="nav-item">
        <a class="nav-link active" href="/listings">Listings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profiles">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/payments">Payments</a>
      </li>
      </ul
    </div>
  </div>
</div>
