<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "EquipRent", root_path, class: "navbar-brand" %><!--this ruby generates link to home page-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Rentals", equipment_index_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Contact", contact_index_path, class: "nav-link" %><!--this ruby generates link to contact page-->
      </li>
      <li class="nav-item">
        <%= link_to "Subscriptions", subscriptions_path, class: "nav-link" %>

      </li>
    </ul>
  </div>

</nav>
