<div class="row">
  <ul class=" col navcenter">
    <li><a href="/">EquipRent</a></li>
    <li><a href="/equipment/">Rentals</a></li>
    <!-- <li><a href="/contact/">Contact</a></li> -->
    <li><a href="/subscriptions/">Sign up</a></li>
  </ul>
</div>
